<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="home()">Certify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a  (click)="home()">Home </a>
        </li> &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a  (click)="contactus()">Contact Us</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a (click)="aboutus()">About Us</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a  (click)="report()">Report Generation</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a  (click)="adduser()">Add User</a>
          </li>
      </ul>
      <div style="margin-right: 10px;">{{adminname}}
        <span  style="background-color: transparent;border:none; " ><i class="fas fa-user" ></i></span></div>
        
        <form>
            <button class="btn btn-outline-success" type="submit"(click)="logout()">Logout</button>
        </form>

      
      
    </div>
  </nav>

  <div style="margin-left: 500px;margin-top: 130px;">
    <form class="addu">
        <h3 style="text-align: center;font-family: cursive; margin-top: 10px;">User Details</h3>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" [(ngModel)]= "user" name= "user">
          </div>
        </div>
        <div class="row mb-3">
          <label  type="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" [(ngModel)]= "pass" name= "pass" >
          </div>
        </div>
        <div class="row mb-3">
            <label  type="text" class="col-sm-2 col-form-label">Organization</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]= "organization" name= "organization">
            </div>
          </div>
      
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Certificate Type</label>
            <div class="col-sm-10">
                <select class="list-dt " style="border-radius: 5px; width: 100%; height: 35px; border: solid 1px gainsboro;" id="Spice" [(ngModel)]= "certificate" name= "certificate">
                <option selected >Marriage Certificate</option>
                <option>Leaving Certificate</option>
                <option>Quiz Certificate</option>
                <option>Student Achievement Certificate</option>
            </select> 
            </div>
          </div>
          <button type="button" name="button" class="btn login_btn" style="background-color: rgba(119, 119, 250, 0.904);margin-left: 220px;" (click)="user_add()">Add User</button>
      
      </form>
    
  </div>
