<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="home()">Certify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a  (click)="home()">Home </a>
        </li> &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a  (click)="contactus()">Contact Us</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a (click)="aboutus()">About Us</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li *ngIf="show" class="nav-item">
            <a  (click)="report()">Report Generation</a>
          </li>&nbsp;&nbsp;&nbsp;
          <li *ngIf="show" class="nav-item">
            <a  (click)="adduser()">Add User</a>
          </li>
      </ul>
      <div style="margin-right: 10px;">{{adminname}}
        <span  style="background-color: transparent;border:none; " ><i class="fas fa-user" ></i></span></div>
        
        <form>
            <button class="btn btn-outline-success" type="submit" (click)="logout()">Logout</button>
        </form>

      
      
    </div>
  </nav>
<section id="block">
    <div class="img2" style="height: 500px; width: 800px;border: 1px solid rgb(119, 118, 118);" id="pdfTable" #pdfTable>
        <h4 style="text-align: center; font-size: 60px;color: black; font-family: cursive; margin-top: 60px;"> Marriage Certificate </h4>
        <br>
        <p style="text-align: center; margin-left: 100px;margin-right: 100px;font-size: 18px;">This is to certify that </p><br>
            <p style="text-align: center; margin-left: 100px;margin-right: 100px;font-size: 18px;">Mr.{{item[0].husband_name}} born on {{item[0].h_birth}} of {{item[0].h_religion}} religion residing at {{item[0].h_street}}, {{item[0].h_city}}, {{item[0].h_state}}, {{item[0].h_zip}} and Mrs.{{item[0].wife_name}} born on {{item[0].w_birth}} of {{item[0].w_religion}} religion residing at {{item[0].w_street}}, {{item[0].w_city}}, {{item[0].w_state}}, {{item[0].w_zip}} have furnished that particulars in Memorandom declaring that their 
              marriage has been solemnized on {{item[0].marriage_date}} and same is registered on {{item[0].m_date}} maintained under the Maharashtra Registration of Marriage.
            </p>
        
    </div>
    <br><br>
</section>
<div class="modal-footer d-flex justify-content-center">
  <button type="button" name="button" class="btn login_btn" (click)="generateImage()" >Download Certificate</button>
  <button type="button" name="button" class="btn login_btn">Send Certificate on Mail</button>
</div>
