.modal-title span {
    padding: 6px 12px;
    color: #fff;
    background: #155092;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.modal-title {
    color: #f05f40;
    font-weight: bold;
}
.modal-header,.modal-header2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 5px solid #f5f5f5;
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
div.modal-content
{
    background-color:#ebeef3;
}

div.modal-header
{
    background-color:#f5f6f8;
    padding-left:30px;
    height: 50px;
}

/* style for changing separator  */
li,.breadcrumb-item + .breadcrumb-item::before 
{
    content: ">";
    color:darkslateblue ;
    
}

div.navigation-choice{
    margin-right :20%;
    padding-right: 50px;
}
.nav{
    padding-left:13px;
   
}
.navbar{
    background-color: #fff;
    /* height: 45px; */
}


  
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.nav-link {
    color: #000000;
  }
  .nav-tabs .nav-link{
    border: none;
  }

   .nav-link.active:hover,.nav-link:hover {
    color:orangered;
    border-bottom: 2px solid red;
}
  .nav-tabs{
    border-bottom: none;
    
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: red;
    isolation: isolate;
  }
 
  .bold2 {
    margin-top:10px;
  }
  .card-body {
    padding-top: 20px;
    padding-left: 30px;
  }
  .card{
    border-radius: 0;
    
   
  }
  
  :root {
    
    --color-invalid: red;
    
  }
  input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--color-invalid);
  }
  input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block; 
  }
  .col-sm-4.p-3{
    border-left: 1px solid #dee2e6;
  }
  .avatar-wrapper{
    position: relative;
    height: 100px;
    width: 100px;
    /* margin: 50px auto; */
    border-radius: 80%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
  }
  .avatar-wrapper:hover{
      transform: scale(1.05);
      cursor: pointer;
    }
    .avatar-wrapper:hover .profile-pic{
      opacity: .5;
    }
    .profile-pic {
      height: 100%;
      width: 100%;
      transition: all .3s ease;
    }
    .profile-pic:after{
        font-family: FontAwesome;
        content: "\f007";
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 190px;
        background: #ecf0f1;
        color: #34495e;
        text-align: center;
      }
    
    .upload-button {
      position: absolute;
      top: 0; left: 0;
      height: 10px;
      width: 10px;
    }
      .fa-arrow-circle-up{
        position: absolute;
        font-size: 234px;
        top: -17px;
        left: 0;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
        color: #34495e;
      }
      .fa-arrow-circle-up:hover .fa-arrow-circle-up{
        opacity: .9;
      }
    
      .fa-regular.fa-user {
       
        margin-left: 28px;
        margin-top: 15px;
      }
     

      .btn.btn-outline-success.btn-floating {
        border-radius: 50px;
      }
      .btn-outline-primary{
        color: #0d6efd;
        border: none;
        margin-left: -10px;
      }
      .btn-outline-primary:hover{
        border: none;
        background-color:#fff;
        color: #0d6efd;
      }
      .nav-item{
        color: black;
    }
    #StudentAchievementsCertificateModal .modal-backdrop {background-color: transparent;}